{% extends "base.html" %}

{% block head %}
    <title>Signup</title>
    
    <style>
        .error {
            color: red;
        }
    </style>

{% endblock %}


{% block content %}
    
    <h1>Signup</h1>
    <form method='POST'>
        <label>
            Username
            <input name='username' type="text" value='{{username}}'  />
        </label>
            <p class="error">{{username_error}}</p>
        <label>
            Password
            <input name="pw"  type="password" value='{{password}}' />
        </label>
            <p class="error">{{password_error}}</p>
        <label>
            Verify Password
            <input name="re-enter" type="password" value='{{password_match}}' />
        </label>
            <p class="error">{{mismatch_error}}</p>
        <label>
            Email (optional)
            <input name="email" type="text" value='{{email}}' />
        </label>
            <p class="error">{{email_error}}</p>
            <p class="error">{{email_space_error}}</p>
        <button type="submit">Sign Up!</button>
    </form>

{% endblock %}