{% extends "base.html" %}

{% block head %}
    <title>Signup</title>
    
    <style>
        .error {
            color: red;
        }

        p{
            margin-top: 0%;
            margin-bottom: 0%;
        }
    </style>

{% endblock %}


{% block content %}
    
    <h1>Signup</h1>
    <form method='POST'>
        <table>
            <tr>
                <label>
                    <td>Username</td>
                    <td><input name='username' type="text" value='{{username}}'  /></td>
                </label>
                    <td><p class="error">{{username_error}}</p></tr>
            </tr>
            <tr>
                <label>
                    <td>Password</td>
                    <td><input name="pw"  type="password" value='{{password}}' /></td>
                </label>
                    <td><p class="error">{{password_error}}</p></td>
            </tr>
            <tr>
                <label>
                    <td>Verify Password</td>
                    <td><input name="re-enter" type="password" value='{{password_match}}' /></td>
                </label>
                    <td><p class="error">{{mismatch_error}}</p></td>
            </tr>
            <tr>
                <label>
                    <td>Email (optional)</td>
                    <td><input name="email" type="text" value='{{email}}' /></td>
                </label>
                    <td><p class="error">{{email_error}}</p></td>
                    <td><p class="error">{{email_space_error}}</p></td>
            </tr>
            <tr>
                   <td><button type="submit">Sign Up!</button></td>
            </tr>
        </table>
    </form>

{% endblock %}